@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
	color: #2d2d2d;

}

.cover {
	height: 100%;
    position: relative;
	background-image: url("static/bg_img.png");
	background-size: auto;
    background-position: center;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px 20px;
}

.nav__link {
	list-style: none;
}

.nav__link li {
	display: inline-block;
	padding: 0px 50px;
}

.home_n {
	padding:15px 0px;
	margin:0px 60px;
	border-bottom: 5px solid #8E28BD;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}

.chcgv_n {
	padding:15px 0px;
	margin:0px 60px;
	border-bottom: 5px solid #8E28BD;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}

.ocn_n {
	padding:15px 0px;
	margin:0px 60px;
	border-bottom: 5px solid #8E28BD;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}

.superaction_n {
	padding:15px 0px;
	margin:0px 60px;
	border-bottom: 5px solid #8E28BD;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}

.moviechart_n {
	padding:15px 0px;
	margin:0px 60px;
	border-bottom: 5px solid #8E28BD;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}

.main_content h1 {
	font-weight: 900;
	font-size: 50px;
	color: #2d2d2d;
}

.sub_title {
	font-weight: 400;
	font-size: 20px;
	color: #2d2d2d;
	margin-top: 40px;
}
.main_content {
	width: 1220px;
	height: 800px;
	margin: auto;
	display: inline-block;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*margin-top:340px;
	margin-bottom: 370px;*/
}

.bg_img1 {
	display: inline-block;
}

.main_text {
	padding-top: 340px;
	padding-bottom: 64px;
	display: inline-block;
}

.main_img1 {
	/*display: inline-block;*/
	float: right;
	width: 600px;
	margin-top: 40px;
}

.NOP {
	font-weight: 700;
	font-size: 20px;
	color: #2d2d2d;
	margin-top: 80px;
}

.rolling_wrap {
	width: 520px;
	height: 90px;
	border: 2px solid #8E28BD;
	border-radius: 10px;
	margin-top: 25px;
	box-shadow: 1px 1px 2px #656565;
}
.rolling_wrap_content {
	font-weight: 400;
	font-size: 20px;
	color: #2d2d2d;
	list-style: none;
	margin:30px 65px;
}








