@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
	color: #2d2d2d;

}

#chcgv {
	display: none;
}

#ocn {
	display: none;
}

#superaction {
	display: none;
}

#moviechart {
	display: none;
}

/* ---------------------------------------------- top tab btn  */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.tab {
	overflow: hidden;
	display: inline-block;

	padding: 20px 20px;
}

.tab button {
	border: none;
	outline: none;
	cursor: pointer;
	padding:15px 0px;
	margin:0px 110px;
	font-weight: 700;
	font-size: 15px;
	color: #8c8c8c;
}

.tab button:hover {
	border-bottom: 5px solid #ddd;
}

/*.tab button.active {
	border-bottom: 5px solid #2d2d2d;
}*/

/* ----------------------------------------------tab btn hover active 밑줄 색 변경 */

.tab button.active:nth-child(1) {
	border-bottom: 5px solid #8E28BD;
	color: #2d2d2d;
}

.tab button.active:nth-child(2) {
	border-bottom: 5px solid #F0352E;
	color: #2d2d2d;
}

.tab button.active:nth-child(3) {
	border-bottom: 5px solid #FFB72F;
	color: #2d2d2d;
}

.tab button.active:nth-child(4) {
	border-bottom: 5px solid #DC1E1E;
	color: #2d2d2d;
}

.tab button.active:nth-child(5) {
	border-bottom: 5px solid #A31CF8;
	color: #2d2d2d;
}


/* ---------------------------------------------- main 화면  */

.tabcontent {
	width: 1620px;
	height: 800px;
	display: inline-block;

}

.movietable_bg {
	height: 100%;
    position: relative;
	background-image: url("img/mainbg_img2.png");
	background-size: auto;
    background-position: center;
}

.title h3 {
	font-weight: 900;
	font-size: 50px;
	color: #2d2d2d;
}

.tabcontent .sub_title {
	font-weight: 400;
	font-size: 20px;
	color: #2d2d2d;
	margin-top: 40px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bg_img1 {
	display: inline-block;
}

.main_text {
	padding-top: 300px;
	padding-left: 200px;
	padding-bottom: 64px;
	display: inline-block;
}


/* ---------------------------------------------- TV 화면  */

.chcgv_btn {
	width: 450px;
	height: 180px;
	background-image: url("img/c_btn2.png");
	background-size: 500px 380px;
	border-radius: 15px;
	overflow: hidden;
	border: none;
	display: inline-block;
	margin: 7px 0px;
	cursor: pointer;

}

.cgv_open_box {
	width: 450px;
	height: 280px;
	background-image: url("img/c_btn2.png");
	background-size: 500px 380px;
	border-radius: 15px;
	border: none;
	display: none;
}

.ocn_btn {
	width: 450px;
	height: 180px;
	background-image: url("img/o_btn1.png");
	background-size: 500px 380px;
	border-radius: 15px;
	overflow: hidden;
	border: none;
	display: inline-block;
	margin: 7px 0px;
	cursor: pointer;

}

.superaction_btn {
	width: 450px;
	height: 180px;
	background-image: url("img/s_btn1.png");
	background-size: 500px 380px;
	border-radius: 15px;
	overflow: hidden;
	border: none;
	display: inline-block;
	margin: 7px 0px;
	cursor: pointer;

}

.tv_sub_title {
	font-weight: 400;
	font-size: 20px;
	color: #2d2d2d;
	margin-top: 40px;
	float: right;
	text-align: center;
	margin: 300px 320px 300px 0px;
}

.tv_sub_title h3 {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
}

.tv_sub_title p { font-size: 20px; font-weight: 400; }

.ch_title h3 {
	font-weight: 900;
	font-size: 35px;
	color: #ffffff;
}

.main_text_ch {
	padding-top: 100px;
	padding-left: 200px;
	padding-bottom: 100px;
	display: inline-block;
}
/*.main_img1 {
	float: right;
	width: 800px;
	display: inline-block;
	cursor: pointer;
}*/

/* ----------------------------------------------Now On Play 현재 방영 영화 박스 */

.NOP {
	font-weight: 700;
	font-size: 20px;
	color: #2d2d2d;
	margin-top: 85px;
}

.rolling_wrap {
	width: 400px;
	height: 70px;
	border: 2px solid #8E28BD;
	border-radius: 10px;
	margin-top: 20px;
}

.notice {
	width: 100%;
	height: 36px;
	margin: 15px 0;
	overflow: hidden;
}
.rolling_wrap_content {
	font-weight: 400;
	font-size: 13px;
	color: #2d2d2d;
	list-style: none;
	margin:0 54px;
	position: relative;
	height: auto;
	width: 100%;
}

.rolling_wrap_content li {
	width: 100%;
	height: 36px;
	line-height: 36px;
}

/* ----------------------------------------------각 채널 메뉴 background img */

.chcgv_bg {
	height: 100%;
    position: relative;
	background-image: url("img/chcgvbg_img2.png");
	background-size: auto;
    background-position: center;
}

/*.ocn_bg {
	height: 100%;
    position: relative;
	background-image: url("img/ocnbg_img2.png");
	background-size: auto;
    background-position: center;
}

.superaction_bg {
	height: 100%;
    position: relative;
	background-image: url("img/superactionbg_img2.png");
	background-size: auto;
    background-position: center;
}

.moviechart_bg {
	height: 100%;
    position: relative;
	background-image: url("img/moviechartbg_img2.png");
	background-size: auto;
    background-position: center;
}*/

/* ----------------------------------------------각 채널 실시간 tv 보러가기 btn  */

.cgv_tv_btn {
	/*width: 160px;
	height: 55px;*/
	border: none;
	outline: none;
	padding: 12px 24px;
	border: 2px solid #F0352E;
	border-radius: 12px;
	margin-top: 20px;
	font-size: 13px;
	font-weight: 700;
	color: #2d2d2d;
	cursor: pointer;
	transition-duration: 0.5s;
}
.cgv_tv_btn:hover {
	background-color: #F0352E;
	color: white;
}

.ocn_tv_btn {
	/*width: 160px;
	height: 55px;*/
	outline: none;
	padding: 12px 24px;
	border-radius: 12px;
	margin-top: 20px;
	font-size: 13px;
	font-weight: 700;
	color: #2d2d2d;
	cursor: pointer;
	border: 2px solid #FFB72F;
	transition-duration: 0.5s;
}
.ocn_tv_btn:hover {
	background-image: url("img/tv_btn1.png");
	color: white;
}

.superaction_tv_btn {

	outline: none;
	padding: 12px 24px;
	border-radius: 12px;
	margin-top: 20px;
	font-size: 13px;
	font-weight: 700;
	color: #2d2d2d;
	cursor: pointer;
	border: 2px solid #DC1E1E;
	transition-duration: 0.5s;
}
.superaction_tv_btn:hover {
	background-image: url("img/superaction_tv_btn.png");
	color: white;
	
}

.moviechart_btn {
	/*width: 160px;
	height: 55px;*/
	border: 2px solid #A31CF8;
	outline: none;
	padding: 12px 24px;
	border-radius: 12px;
	margin-top: 20px;
	font-size: 13px;
	font-weight: 700;
	color: #2d2d2d;
	cursor: pointer;
	transition-duration: 0.5s;
}
.moviechart_btn:hover {
	background-image: url("img/moviechart_tv_btn1.png");
	color: white;
}

a {
	text-decoration: none;
}

/* ---------------------------------------------- 각 채널 편성표 테이블 디자인  */

.chcgv_table {
	/*display: inline-block;*/
	display: none;
	float: right;
}

.table_layout {
	width: 660px;
	/*height: auto;*/
	text-align: center;
	background-color: #ffffff;
	/*opacity: 0.86;*/
	/*box-shadow: 1px 1px 10px 1px #b3b3b3;*/
	margin: 30px 200px 0px 0px;
	border-radius: 10px;
	border: 2px solid #F0352E;
	padding: 20px;

}

table th {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	padding: 13px 0px;
	font-size: 12px;
	font-weight: 500;
}

table td {
	padding: 6px 5px;
	font-size: 10px;
	font-weight: 400;
	border-bottom: 1px solid #f2f2f2;
}

/* ----------------------------------------------  */

/*.main_img1 {
	float: right;
	width: 800px;
	margin-top: 40px;
	display: inline-block;
	cursor: pointer;
}*/

/*.main_img1:hover {
	transform: scale( 1.05 );
	transition-duration: 0.8s;
}*/

#camera_i {
	float: right;
	width: 570px;
	margin: 0px 0px 100px 400px;
	display: inline-block;
	cursor: pointer;
}


#popcorn_i {
	float: right;
	width: 500px;
	margin: 380px 0px 0px 500px;
	display: inline-block;
	cursor: pointer;
}


#skittles_i {
	float: right;
	width: 300px;
	margin: 580px 0px 0px 330px;
	display: inline-block;
	cursor: pointer;
}


#toy_i {
	float: right;
	width: 300px;
	margin: 430px 0px 0px 330px;
	display: inline-block;
	cursor: pointer;
}


.ticket_i {
	float: right;
	width: 300px;
	margin: 470px 0px 0px 230px;
	display: inline-block;
	cursor: pointer;
}

.img_move:hover {
	transform: scale( 1.02 );
	transition-duration: 0.8s;
}














