<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Table</title>
	<link rel="stylesheet" href="../static/movie_table_pro_style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			listing();


			function cgv_click() {
				$.ajax({
					type: "GET",
					url: "/list",
					data: {},
					success: function(response){
						if (response['result'] == 'success') {
							let lists = response['lists'];
							console.log(lists);
							for ( let i = 0; i < lists.length; i++) {
								make_table(lists[i]['w_time'],lists[i]['title'],lists[i]['rating'],lists[i]['r_time'])
							}
						} else {
							alert('편성표를 받아오지 못했습니다.');
						}
					}
				})
			}

			function make_table(w_time,title,rating,r_time) {
				let temp_html = '<tr>\
									<td class="table_time">'+w_time+'</td>\
									<td class="table_title">'+title+'</td>\
									<td class="table_age">'+rating+'</td>\
									<td class="table_running_time">'+r_time+'</td>\
								</tr>';
				$('#chcgv_list').append(temp_html);
			}

		});

		// 탭 바 클릭 이벤트

		function open_chennel(event, channelname) {
			var i, tabcontent, tablinks;

			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}

			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", " ");
			}

			document.getElementById(channelname).style.display = "inline-block";
			event.currentTarget.className += " active";
            
            
		}
		
		// 텍스트 롤링

		$(document).ready(function(){
			var height = $(".notice").height();
			var num = $(".rolling_wrap_content li").length;
			var max = height * num;
			var move = 0;
			function notice_rolling(){
				move += height;
				$(".rolling_wrap_content").animate({"top":-move},600,function(){
					if( move >= max ){
						$(this).css("top",0);
						move = 0;
					};
				});
			};
			notice_rolling_off = setInterval(notice_rolling,2500);
			$(".rolling_wrap_content").append($(".rolling_wrap_content li").first().clone());

		})
        


	</script>
</head>
<body>
	<div class="cover">
		
		<header>
			<nav>
				<div class="tab">
					<button class="tablinks active" onclick="open_chennel(event, 'home')">Home</button>
					<button class="tablinks" onclick="open_chennel(event, 'chcgv');cgv_click();">CH CGV</button>
					<button class="tablinks" onclick="open_chennel(event, 'ocn')">OCN</button>
					<button class="tablinks" onclick="open_chennel(event, 'superaction')">Super Action</button>
					<button class="tablinks" onclick="open_chennel(event, 'moviechart')">Movie Chart</button>
				</div>
			</nav>
		</header>
		
		<div class="content">

			<!-- Movie Table -->

			<div class="movietable_bg">
				<div id="home" class="tabcontent">
					<div class="main_text">
						<div class="title">
							<h3>Movie Table</h3>
						</div>
						<div class="sub_title">
							<p>오늘 무슨 영화를 볼 지 고민이 된다면<br>
							오늘 볼 수 있는 영화를 한번에 모아보세요</p>
						</div>
						<div class="NOP">
							<p>Now On Play</p>
						</div>
						<div class="rolling_wrap">
							<div class="notice">
								<ul class="rolling_wrap_content">
									<li>
										<a href="https://www.tving.com/live/player/C04601" target="_blank">CH CGV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;스타워즈 에피소드 IV: 새로운 희망</a>
									</li>
									<li>
										<a href="https://www.tving.com/live/player/C07381" target="_blank">OCN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;토르:라그나로크 1부</a>
									</li>
									<li>
										<a href="https://www.tving.com/live/player/C07382" target="_blank">Super Action&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;텍사스전기톱연쇄살인사건:더비기닝</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- <img src="static/main_img_movie.png"> -->
					
					<div id="camera_i" class="img_move" style="position:absolute;">
						<div style="position: relative; top:0px; left:0px;">
							<img  id="camera_i" src="../static/img/main_img_camera_res.png">
						</div>
					</div>
					<div class="ticket_i" class="img_move" style="position:absolute;">
						<div style="position: relative; top:0px; left:0px;">
							<img src="../static/img/main_img_ticket_c_res.png">
						</div>
					</div>
					<div class="ticket_i" class="img_move" style="position:absolute;">
						<div style="position: relative; top:0px; left:0px;">
							<img src="../static/img/main_img_ticket_res.png">
						</div>
					</div>
					<div id="skittles_i" class="img_move" style="position:absolute;">
						<div style="position: relative; top:0px; left:0px;">
							<img src="../static/img/main_img_skittles_res.png">
						</div>
					</div>
					<div id="toy_i" class="img_move" style="position:absolute;">
						<div style="position: relative; top:0px; left:0px;">
							<img src="../static/img/main_img_toy_res.png">
						</div>
					</div>
					<div id="popcorn_i" class="img_move" style="position:absolute;">
						<div style="position: relative; top:0px; left:0px;">
							<img src="../static/img/main_img_popcorn_res.png">
						</div>
					</div>

					
				</div>
			</div>

			<!-- CH CGV -->

			<div class="chcgv_bg">
				<div id="chcgv" class="tabcontent">
					<div class="main_text_ch">
						<div class="title">
							<h3>CH CGV</h3>
						</div>
						<div class="sub_title">
							<p>오늘 무슨 영화를 볼 지 고민이 된다면<br>
							오늘 볼 수 있는 영화를 한번에 모아보세요</p>
						</div>
						<div id="go_ch_btn">
							<button class="cgv_tv_btn" onclick="window.open('https://www.tving.com/live/player/C04601')">실시간 TV 보기</button>
						</div>
						
					</div>
					<div class="chcgv_table">
						<table class="table_layout">
							<colgroup>
								<col class="col1"> <col class="col2"> <col class="col3"> <col class="col4">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" class="table_head">시간</th>
									<th scope="col" class="table_head">프로그램 정보</th>
									<th scope="col" class="table_head">등급</th>
									<th scope="col" class="table_head">방송시간(분)</th>
								</tr>
							</thead>
							<tbody id="chcgv_list">
								
							</tbody>
							
						</table>
					</div>
				</div>
			</div>

			<!-- OCN -->

			<div class="ocn_bg">
				<div id="ocn" class="tabcontent">
					<div class="main_text_ch">
						<div class="title">
							<h3>OCN</h3>
						</div>
						<div class="sub_title">
							<p>오늘 무슨 영화를 볼 지 고민이 된다면<br>
							오늘 볼 수 있는 영화를 한번에 모아보세요</p>
						</div>
						<div id="go_ch_btn">
							<button class="ocn_tv_btn" onclick="window.open('https://www.tving.com/live/player/C07381')" >실시간 TV 보기</button>
						</div>
						
					</div>
					<div class="ocn_img">
						<img src="">
					</div>
				</div>
			</div>

			<!-- Super Action -->

			<div class="superaction_bg">
				<div id="superaction" class="tabcontent">
					<div class="main_text_ch">
						<div class="title">
							<h3>Super Action</h3>
						</div>
						<div class="sub_title">
							<p>오늘 무슨 영화를 볼 지 고민이 된다면<br>
							오늘 볼 수 있는 영화를 한번에 모아보세요</p>
						</div>
						<div id="go_ch_btn">
							<button class="superaction_tv_btn" onclick="window.open('https://www.tving.com/live/player/C07382')">실시간 TV 보기</button>
						</div>
						
					</div>
					<div class="superaction_img">
						<img src="">
					</div>
				</div>
			</div>

			<!-- Movie Chart -->

			<div class="moviechart_bg">
				<div id="moviechart" class="tabcontent">
					<div class="main_text_ch">
						<div class="title">
							<h3>Movie Chart</h3>
						</div>
						<div class="sub_title">
							<p>오늘 무슨 영화를 볼 지 고민이 된다면<br>
							오늘 볼 수 있는 영화를 한번에 모아보세요</p>
						</div>
						<div id="go_ch_btn">
							<button class="moviechart_btn" onclick="window.open('https://movie.naver.com/movie/running/current.nhn')">예매하러 가기</button>
						</div>
						
					</div>
					<div class="moviechart_img">
						<img src="">
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>